@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --highlight: #f9ce69;
  --darkblue: #4741a6;
  --lightblue: #9bbbfc;
  --blue: #3664f4;
  --white: #ffffff;
  --gray: #949fb0;
  --darkgray: rgb(94, 94, 94);
  --black: #000000;
}

* {
  font-family: "Work Sans", sans-serif;
}

.shanepai span {
  color: var(--highlight);
}

body {
  /* font-family: "Work Sans", sans-serif !important; */
}
header {
  position: fixed;
  width: 100%;
}
header ul {
  font-weight: 600;
}
.hero {
  background-image: url("./images/herobg.svg");
  background-size: cover;
  background-position: center;
}
.list-unstyled {
  list-style: none;
  display: flex;
}
.about-list {
  list-style: none;
  padding-left: 0;
  gap: 10px;
}
.about-list li {
  width: calc((100% - 10px) / 2);
}
.about-list li:first-child:before {
  color: var(--black);
  content: "Name: ";
  font-weight: 500;
}
.about-list li:nth-child(2):before {
  color: var(--black);
  content: "Email: ";
  font-weight: 500;
}
.about-list li:nth-child(3):before {
  color: var(--black);
  content: "Location: ";
  font-weight: 500;
}
.about-list li:nth-child(4):before {
  color: var(--black);
  content: "Phone no: ";
  font-weight: 500;
}

.educ-list {
  list-style: none;
  /* margin: 0;
  padding: 0; */
  position: relative;
  gap: 20px;
}

.downloadcv {
  padding: 10px 12px 10px 12px;
  /* border: 1px solid rgb(167, 167, 167); */
  border: none;
  border-radius: 2px;
  background-color: var(--highlight);
  color: black;
}
.contactbtn {
  padding: 10px 12px 10px 12px;
  border: none;
  border-radius: 2px;
  background-color: var(--blue);
  color: var(--white);
}
.webdev {
  color: var(--blue);
}
.shanepai strong {
  color: var(--blue);
}
.hero p {
  color: var(--gray);
}
.hero-icons {
  width: 50px;
  padding: 10px;
  background: var(--white);
}
.hero-icons:nth-child(1) {
  top: 50%;
  left: 8%;
}
.hero-icons:nth-child(2) {
  top: 42%;
  left: 76%;
}
.hero-icons:nth-child(3) {
  top: 25%;
  left: 65%;
  width: 35px;
  padding: 0;
}
.hero-icons:nth-child(4) {
  top: 19%;
  left: 92%;
}
.hero-icons:nth-child(5) {
  top: 35%;
  left: 15%;
  width: 45px;
}
.heroimage {
  -webkit-filter: drop-shadow(6px 0px 13px #c7c7c7);
  filter: drop-shadow(6px 0px 13px #c7c7c7);
}
.header {
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.header.scrolled {
  z-index: 10;
  background-color: var(--white); /* Background color when scrolled */
}
.myself {
  height: 100vh;
}
.lara:hover {
  fill: red;
  transition: all ease-in-out 250ms;
}
.about-sec {
  background-image: url("./images/about4.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.about-sec h3 {
  color: var(--blue);
}
.about-sec p {
  color: var(--darkgray);
}
.about-sec ul li {
  color: var(--darkgray);
}
.project-sec ul li {
  width: calc((100% - 32px) / 3);
  min-width: 280px;
}
.card-item {
  transition: 0.3s;
  overflow: hidden;
}
.card-item:hover {
  transform: translateY(-10px);
}
.card-item div img {
  transition: 5s;
}
.live-eye {
  background-color: rgba(255, 255, 255, 0.877);
  display: none;
  transition: all 5s ;
  bottom: 0px;
}
.card-item div:hover .live-eye {
  display: block;
}
.card-item div:hover img {
  transform: scale(1.5);
}
.github{
  transition: 0.3s;
}
.github:hover{
  transform: scale(1.5);
}
.card-img-top{
  height: 180px;
  object-fit: contain;
}
